<header>
  <nav>
      <div class="row">
      <logo-directive ui-sref="home"></logo-directive>
      <ul class="main-nav">
        <li><a ui-sref="reservations">Check In</a></li>
        <!-- <li><a href="#">Testimonials</a></li> -->
        <li><a ui-sref="contactUs" class="hover-transition">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="header-box">
    <h1>Furry Boarding for</br> Dogs & cats</h1>
    <a class="btn" ui-sref="reservations">Book Now!</a>
  </div>
  </header>

<section class="section-features">
<div>
  <div class="row">
    <p class="long-copy">
      Our facilities provide your pet with a safe, clean and fun environment that will remind your fido or feline of home.
      Whether your pet needs a scratch around the ear, a face to lick or a place to play, your best friend will be taken care of as if our own.
    </p>
  <div class="row">
    <div class="col span-1-of-4 box">
      <i class="ion-ios-moon-outline icon-big"></i>
      <h3>BOARDING</h3>
        <p>Play all day, stay the night. All in luxe comfort with plenty of room. This is boarding with Best Friends.</p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="ion-ios-sunny-outline icon-big"></i>
      <h3>DAY CAMP</h3>
        <p>Your dog will enjoy safe, supervised social play with certified Doggy Day Camp counselors. You’ll wish you could come, too.</p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="ion-ios-heart-outline icon-big"></i>
      <h3>GROOMING</h3>
        <p>From a quick shampoo to a full day of pampering, our groomers will make your pet “paw”sitively gorgeous.</p>
    </div>
    <div class="col span-1-of-4 box">
      <i class="ion-ios-paw-outline icon-big"></i>
      <h3>TRAINING</h3>
        <p>Want your dog to understand basic commands or break a bad habit? We will train your pet to be his or her best.</p>
    </div>
</div>
</section>


<section class="section-pets">
<ul class="pets-box">
  <li>
    <figure class="pets-photo">
      <img src="images/1.jpg" alt="Outdoor Activities">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/2.jpg" alt="Unconditional Love">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/3.jpg" alt="24 Hour Supervision">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/4.jpg" alt="Park Field Trips">
    </figure>
  </li>
</ul>
<ul class="pets-box">
  <li>
    <figure class="pets-photo">
      <img src="images/5.jpg" alt="Indoor Kitties">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/6.jpg" alt="Friendly Roomates">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/7.jpg" alt="Relaxing Time">
    </figure>
  </li>
  <li>
    <figure class="pets-photo">
      <img src="images/8.jpg" alt="Cute Guests">
    </figure>
  </li>
</ul>
</section>

<section class="pricing">
<!-- <div class="row"> -->
  <!-- <h2>Prices</h2> -->
<!-- </div> -->
<div class="row">
  <div class="col span-1-of-4">
    <div class="pricing-box">
      <div>
        <h3>Boarding</h3>
        <p class="boarding-price">$25 <span>/ night</span></p>
     </div>
      <ul>
        <li><i class="ion-checkmark check"></i> Cozy bedding</li>
        <li><i class="ion-checkmark check"></i> Daily playtime</li>
        <li><i class="ion-checkmark check"></i> Crate-free boarding</li>
      </ul>
    </div>
  </div>

  <div class="col span-1-of-4">
    <div class="pricing-box">
      <div>
        <h3>Day Camp</h3>
        <p class="boarding-price">$12 <span>/ hour</span></p>
     </div>
      <ul>
        <li><i class="ion-checkmark check"></i> Supervised social playtime</li>
        <li><i class="ion-checkmark check"></i> Fun Toys</li>
        <li><i class="ion-checkmark check"></i> Fenced Backyard</li>
      </ul>
    </div>
  </div>

  <div class="col span-1-of-4">
    <div class="pricing-box">
      <div>
        <h3>Grooming</h3>
        <p class="boarding-price">Price Varies <span>Call Us<span></p>
     </div>
      <ul>
        <li><i class="ion-checkmark check"></i> Haircut</li>
        <li><i class="ion-checkmark check"></i> Bath</li>
        <li><i class="ion-checkmark check"></i> Nail Triming</li>
      </ul>
    </div>
  </div>

  <div class="col span-1-of-4">
    <div class="pricing-box">
      <div>
        <h3>Training</h3>
        <p class="boarding-price">$100 <span>/ 9 sessions</span></p>
     </div>
      <ul>
        <li><i class="ion-checkmark check"></i> Command Learning</li>
        <li><i class="ion-checkmark check"></i> Leash Walking</li>
        <li><i class="ion-checkmark check"></i> Potty Training</li>
      </ul>
    </div>
  </div>
</div>
</section>


<!-- <section class="map-location">
<div class="row">
    <i class="ion-ios-location"></i>
    <h2>Location</h2>
    <div id="map">
    </div>
</div>
</section> -->
